/* hero ***********************************************************************/
.hero {
  height: 300px;
  left: 50%;
  margin: -150px 0 0 -250px;
  position: absolute;
  top: 50%;
  width: 500px;
}

.hero-logo {
  max-width: 70px;
}

.hero-title {
  display: none;
}

.hero-tagline {
  font-size: @hero-tagline--fontSize;
  margin-bottom: 20px;
}

.hero-signature {
  font-size: @hero-signature--fontSize;
}

.hero-signature:before {
  content: "—";
}
